.card-image {
position: absolute;
width: 500px;
height: 260px;
left: 92px;
top: 1003px;

background: url(image.png);
border-radius: 25px 25px 0px 0px;
}

.card-bg {
position: absolute;
width: 500px;
height: 426px;
left: 92px;
top: 1003px;

background: #000000;
border-radius: 25px;
}
