.card-image {
  position: absolute;
  width: 500px;
  height: 260px;
  left: 92px;
  top: 1003px;

  background: url(image.png);
  border-radius: 25px 25px 0px 0px;
  }

  .card-bg {
  position: absolute;
  width: 500px;
  height: 426px;
  left: 92px;
  top: 1003px;

  background: #000000;
  border-radius: 25px;
  }

  .card-button {
    padding: 10px 17px;
    text-decoration: none;
    border-radius: 15px;
    background-color: black;
    color:white;
    font-weight:bolder;
  }

  .card-button:hover {
    background-color: #272525;
    color: white;
  }

  .car-img{
    border-radius: 15px;
  }

  .margin-car-info {
    margin-left: 150px;
  }

  .model{
    font-weight: bold;
  }

  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-positioning {
    position: relative;
  }

  .icon-positioning{
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .go-booking {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }

  .all {
    background-color: #f8ecec;
    width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(63, 61, 61, 0.2);
  }

  .new-button {
    padding: 10px 17px;
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    color:black;
    font-weight: bold;
  }

  .new-button:hover {
    background-color: #726b6b;
    color: black;
  }
