.master {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 16px;
  margin-top: 60px;
  margin-left: 150px;
}

.features-icons {
  display: grid;
  margin-top: 50px;
}

.margin-car-info {
  display: grid;
  grid-template-columns: 2fr 2fr;

}
