.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255,250,250);
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-button {
  padding: 15px 38px;
  text-decoration: none;
  border-radius: 15px;
  background-color: black;
  color:rgb(255,250,250);
  font-weight:400;
}

.nav-button:hover {
  background-color: rgb(255,250,250);
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.avatar-pic {
  position:relative;
  top: -7px;
}
