<ul>
  <% @cars.each do |car| %>
    <li><%= car.model %></li>
  <% end %>
</ul>

<div class="card-bg">
  <div class="card-image"></div>
  <div>
    <p>Porsche GT2RS 2020</p>
    <p>$714</p>
  </div>
</div>
